{% extends 'food/base.html' %}

{% block content %}
  <h4 class="title">Menu</h4>

  <!-- New Code -->
  {% for item in item_list %}
  <div class="row mt-4">
    <div class="col-md-3">
      <img class="card" height="150px" src="{{ item.item_image }}" alt="{{ item.name }}">
    </div>
    <div class="col-md-4">
      <h3>{{ item.item_name }}</h3>
      <h5>{{ item.item_desc }}</h5>
      <h6>RM {{ item.item_price }}</h6>
      <h6>{{ item.user_name }}</h6>
    </div>
    <div class="col-md-2">
      <a class="btn btn-success" href="{% url 'food:detail' item.id %}" role="button">Details</a>
    </div>
  </div>
  {% endfor %}
{% endblock content %}
